extends ../layout

block content
  include ../partials/header

  article#main
    header.special.container
      span.icon.fa-sign-in
      h2 Log-in
      p Already have an account? Sign-in using your details.

    section.wrapper.style4.special.container(class="75%")
      .content
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row(class="50%")
            .6u.12u(mobile)
              .form-group
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus='true')
            .6u.12u(mobile)
              .form-group
                input.form-control(type='password', name='password', id='password', placeholder='Password')
          .row
            .12u
              ul.buttons
                li
                  input.special(type='submit', value="Login")
                li
                  a.button(href='/forgot') Forgot your password?
