extends ../layout

block content
  include ../partials/header



  article#main
    header.special.container
      span.icon.fa-key
      h2 Sign up
    section.wrapper.style4.special.container(class="50%")
      .content
          br
          form#signup-form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .row(class="50%")
              .12u
                .form-group
                  input.form-control(type='email', name='email', id='email', placeholder='Email Address', autofocus='true')
              .12u
                .form-group
                  input.form-control(type='password', name='password', id='password', placeholder='Password')
              .12u
                .form-group
                  input.form-group(type='radio', name='role', style='margin: 5px;', value='Player', checked) 
                  | Player
                  input#coach.form-group(type='radio', name='role', style='margin: 5px;', value='Coach')
                  | Coach
            .row
              .12u
                ul.buttons
                  li
                    input.special(type='submit', value="Sign up")
    script.
      queryDict = {};
      location.search.substr(1).split("&").forEach(function(item){
        queryDict[item.split("=")[0]] = item.split("=")[1]; 
      });
      if (queryDict.c)
        $("#coach").prop('checked', true);
