header#header.reveal
  h1#logo
    a(href="/", style='margin-right: 50px;') Rookie
    if user.role == 'Coach'
      if unreadApplications > 0
        a.tag.button.special(href='/applications') #{unreadApplications} New Applications
      else
        a.tag.button(href='/applications') Applications
    else
      if unreadApplications > 0
        a.tag.button.special(href='/applications') #{unreadApplications} Application Updates
      else
        a.tag.button(href='/applications') Applications

    if unreadSessions > 0
      a.tag.button.special(href='/sessions', style='margin-left: 10px;') #{unreadSessions} Session Updates
    else
      a.tag.button(href='/sessions', style='margin-left: 10px;') Ongoing Sessions
  nav#nav
    ul
      li.submenu
        a(href='#') #{user.profile.name || user.email}
        ul
          li
            a(href="/account") Account
          li
            a(href="/logout") Logout

