extends layout

block content
  include partials/header

  section#banner
    .inner
      p
        | Learn from the best. Become better.
      img(src='/splash.png')
      footer
        ul.buttons.vertical
          li
            a.button.special(href='/signup', style='margin-right: 5px;')
              | I'm an Athlete
            a.button(href='/signup?c=1', style='margin-left: 5px;')
              | I'm a Coach
    a.more.scrolly(href="#main")

  article#main
    section.wrapper.style1.container.special
      .row
        .4u.12u(narrower)
          section
            span.icon.featured.fa-check
              header
                h3
                  | Pro-Level Skills Assessment
                p
                  | Complete our pro-level skills assessment so we can match you with the perfect private coaches.</p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-mortar-board
              header
                h3
                  | Pick your Coach
                p
                  | Browse through our recommended coaches and select whom you want to start learning from. </p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-futbol-o
              header
                h3
                  | Train
                p
                  | Start working with your coach through our online video platform and keep track of your progress.</p>