//extends layout

!= css('landing')
<title>Rookie</title>

div#logo(style='display: none; color: white; font-weight: bold; text-shadow: none; background: transparent; position: absolute; left: 2%; top: 2%; font-family: "Rouge Script", cursive;')
  strong(style='font-size: 18px;') R
  strong(style='border-bottom: 2px solid white; padding-bottom: -3.5px;') ooki
  | e

div#topbody(style='width: 100%; margin: 0; min-height: 75%; color: white; padding: 0;')
  div(style='width: 100%; text-align: center;')
    br
    h1(style='font-size: 25px; letter-spacing: 1px; font-weight: 200;')
      | Personalized coaching from NBA-level coaches.
  div(style='width: 100%; text-align: center; font-size: 10px;')
    div(style='width: 27%; margin: 2%; display: inline-block; ')
      img(src='http://i.imgur.com/6Ugy6mX.gif', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 40%; margin: 0; margin-bottom: 10px;')
      strong STEP 1. 
      | RECORD A VIDEO
    div(style='width: 27%; margin: 2%; display: inline-block; ')
      img(src='http://i.imgur.com/lY98jfd.gif', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 40%; margin: 0; margin-bottom: 10px;')
      strong STEP 2.
      | BOOK A COACH
    div(style='width: 27%; margin: 2%; display: inline-block; ')
      img(src='http://i.imgur.com/yDQDIxf.jpg', style='border: 10px solid rgba(0, 0, 0, 0.1); width: 100%; height: 40%; margin: 0; margin-bottom: 10px;')
      strong STEP 3.
      | GET FEEDBACK
  br
  br
  div(style='width: 100%; text-align: center;')
    #msg
      | Sign up to get early access!
    br
    form#beta1(method='POST', action='submitEmail', style='border: 10px solid rgba(0, 0, 0, 0.1);display: inline;padding: 10px 2px;')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='ref', id='refdiv')
      input(type='text', placeholder='Email address here', name='emailsubmit', style='    height: 40px; border: 0; border-radius: 5px; padding: 10px; font-size: 13px; width: 250px;')
      input#submit(type='submit', value='Go')
    #beta2(style='display: none;')
      | Thanks -- we'll be in touch!
  br
  br
  br
  div(style='width: 100%; text-align: center;')
    a#testimonials(href='#test', type='button')
      | Testimonials ↓
div(style='width: 90%; margin: 0 auto; color: white; text-align: center; font-size: 10px;')
    br
    br
    div#test(style='width: 100%; font-size: 13px; font-weight: bold; margin-top: 1%;')
      | TESTIMONIALS
    br
    div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(0,0,0,0.1); padding: 1%; border-radius: 5px;') 
      p "I can't believe an NBA shooting coach just gave me personalized feedback on my shot! Thank you so much to Rookie for the early preview of what's in store. It was an awesome experience."
      p(style='font-size: 10px; text-transform: uppercase;') Kyle Idris, 16, San Francisco
    div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(0,0,0,0.1); padding: 1%; border-radius: 5px;') 
      p "I signed up and got a preview of Rookie. My coach had worked with Steve Nash on the Suns. I'm still in a bit of shock that I got coached by the same guy. Can't wait to get on the court later."
      p(style='font-size: 10px; text-transform: uppercase;') Kevaun Washington, 14, Oklahoma City
    div(style='width: 27%; margin: 2%; margin-top: 0; vertical-align: top; display: inline-block; text-align: left; font-size: 12px; background: rgba(0,0,0,0.1); padding: 1%; border-radius: 5px;') 
      p "I'm so happy I got to try Rookie today. I already feel way more confidence about how to read my defender in a one-on-one situation. Thanks again Coach Church!"
      p(style='font-size: 10px; text-transform: uppercase;') Ben Harquail, 17, Boston
script.
  document.getElementById("refdiv").value = document.referrer
  
  if(document.location.search.match("betasubmitted")){
    document.getElementById("beta1").style.display = "none";
    document.getElementById("msg").style.display = "none";
    document.getElementById("beta2").style.display = "";
  }

block content
  //include partials/header


  //section#banner(style='padding-top:40px;')
    .inner
      h1(style='font-size: 20px; font-weight: bold;')
          | To beat the best, you have to learn from the best
      h1
        | Get personalized feedback from NBA skills development coaches
      img(src='/splash.png')
      hr
      #beta1
        p(style='font-size: 12px; font-weight: bold;') We're launching soon. Sign up to get early access
        form(method='POST', action='submitEmail')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='ref', id='refdiv')
          input(type='text', placeholder='Email address here', name='emailsubmit', style='width: 50%; display: inline-block; margin: 0; vertical-align: bottom; background: white; color: black;')
          input.button.special(type='submit', value='Go', style='width: 100px; min-width: 0; height: 49px; vertical-align: bottom;')
        //div#lr-widget(rel="FUSYFXDB")
        //script(src="http://ignition.launchrock.com/ignition-current.min.js")
      #beta2(style='display: none;')
        p(style='font-size: 14px; font-weight: bold;') Thanks -- we'll be in touch!

      footer
    
    //a.more.scrolly(href="#main")

    

  //article#main(style='display: none;')
    section.wrapper.style1.container.special
      .row
        .4u.12u(narrower)
          section
            span.icon.featured.fa-check
              header
                h3
                  | Pro-Level Skills Assessment
                p
                  | Complete our pro-level skills assessment so we can match you with the perfect private coaches.</p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-mortar-board
              header
                h3
                  | Pick your Coach
                p
                  | Browse through our recommended coaches and select whom you want to start learning from. </p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-futbol-o
              header
                h3
                  | Train
                p
                  | Start working with your coach through our online video platform and keep track of your progress.</p> */
