extends layout

block content
  //include partials/header

  section#banner(style='padding-top:40px;')
    .inner
      h1(style='font-size: 20px; font-weight: bold;')
          | To be the best, take advice from the best
      h1
        | Rookie lets you get personalized feedback from NBA level  coaches.
      img(src='/splash.png')
      hr
      p(style='font-size: 12px; font-weight: bold;') Our app is launching soon. Enter your email and get early access.
      div#lr-widget(rel="YNVO4NGD")
      script(src="//ignition.launchrock.com/ignition-current.min.js")

      footer
    
    a.more.scrolly(href="#main")

  article#main
    section.wrapper.style1.container.special
      .row
        .4u.12u(narrower)
          section
            span.icon.featured.fa-check
              header
                h3
                  | Pro-Level Skills Assessment
                p
                  | Complete our pro-level skills assessment so we can match you with the perfect private coaches.</p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-mortar-board
              header
                h3
                  | Pick your Coach
                p
                  | Browse through our recommended coaches and select whom you want to start learning from. </p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-futbol-o
              header
                h3
                  | Train
                p
                  | Start working with your coach through our online video platform and keep track of your progress.</p>