extends layout

block content
  include partials/header

  section#banner
    .inner
      header
        h2 Patterson
      p Private coaching from the best professional coaches in the world.
      footer
        ul.buttons.vertical
          li
            a.button.fit.scrolly(href='/signup')
              | Get started
          li(style='padding: 0; font-size: 16px;')
            | Sign up and work with the best private coaches in the world through our 
            strong
              | video coaching platform.
    a.more.scrolly(href="#main")

  article#main
    section.wrapper.style1.container.special
      .row
        .4u.12u(narrower)
          section
            span.icon.featured.fa-check
              header
                h3
                  | Pro-Level Skills Assessment
                p
                  | Complete our pro-level skills assessment so we can match you with the perfect private coaches.</p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-mortar-board
              header
                h3
                  | Pick your Coach
                p
                  | Browse through our recommended coaches and select whom you want to start learning from. </p>
        .4u.12u(narrower)
          section
            span.icon.featured.fa-futbol-o
              header
                h3
                  | Train
                p
                  | Start working with your coach through our online video platform and keep track of your progress.</p>