@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/ios7";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

// Sessions View
// -------------------------

.sessions, .messages {
  background-color: #E7F6FF;
  border: 1px dashed #D4EAFF;
  padding: 5px 15px;
  margin-bottom: 10px;

  h4, h5 {
    display: inline-block;
    margin-right: 10px;
  }
}

.sessions:hover {
  background-color: #D4EAFF;
}
.unread-sessions, .unread-messages {
  background-color: #E9FFE7;
  border: 1px dashed #D7FFD4;
}

.unread-sessions:hover {
  background-color: #D7FFD4;
}
